body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

form {
    width: 300px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    padding-right:40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    background-color: #696969;
    border: none;
    color: white;
}